{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    {% block cdn_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'src/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    
    {% endblock cdn_css %}
    
    
   
</head>
<body>
{% block content %}{% endblock content %}


{% block js %}
 <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/angular.route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/angular.ui.bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<Script src="{% static 'controllers/loginController.js' %}"></Script>
<Script src="{% static 'controllers/dashBoardCtrl.js' %}"></Script>


    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'controllers/highcharts-ng.js' %}"></script>

    <Script src="{% static 'controllers/adminDashBoard.js' %}"></Script>

    <Script src="{% static 'controllers/clientDashBoard.js' %}"></Script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIqXbRkI0ZouH8f1A9lGTxQxviDm5surs"
	type="text/javascript"></script>


{% endblock js %}
</body>
</html>