

<div class="col-lg-12">
    <h1 class="col-lg-6">Admin Dash Board</h1>
    <h3 class="col-lg-6 "><button class="btn pull-right btn-warning" ng-click="logout()">logout</button></h3>
</div>
<!--Admin datatable for trips-->
<div class="dashBoardTable">
    <table class="table table-bordered" ng-table="tableParams" show-filter="true">
        <tbody>
        <tr ng-repeat="val in $data" ng-click="showCharts(val)">
            <td data-title="'UserId'" sortable="'id'" filter="{id: 'text'}">{{val.id}}</td>
            <td data-title="'Distance'" sortable="'distance'">{{val.distance}}</td>
            <td data-title="'Duration'" sortable="'duration'">{{val.duration}}</td>
            <td data-title="'StartDate'"  ng-bind="getDate(val.start_time)"></td>
            <td data-title="'EndDate'"  ng-bind="getDate(val.end_time)"></td>
            <td data-title="'Score'" sortable="'score'" filter="{score: 'text'}">{{val.score}}</td>
            <td data-title="'Action'" sortable="'distance'"><span ng-click="deleteUser(val)"><img src="static/img/delete.png" height="15px"></span></td>
        </tr>
        </tbody>
    </table>
</div>