
<div>

    <div class="col-lg-12">
        <h1 class="col-lg-6">Details</h1>
        <h3 class="col-lg-6 "><button class="btn pull-right btn-warning" ng-click="logout()">logout</button></h3>
    </div>

    <br>

    <!--Users Data Table-->
    <div class="dashBoardTable">
        <h3>Drivers::</h3>
        <table ng-table="tableParams" class="table table-bordered" show-filter="true" >
            <tbody>
            <tr ng-repeat="val in $data " ng-click="getTrips(val)">
                <td data-title="'Rank'" sortable="'rank'" >{{$index+1}}</td>
                <td data-title="'Email'" sortable="'email'" filter="{email: 'text'}">{{val.email}}</td>
                <td data-title="'Role'" sortable="'role'">{{val.role}}</td>
                <td data-title="'Company'" sortable="'company_id'" >{{val.company_id}}</td>
                <td data-title="'Score'" sortable="'rank'" filter="{rank: 'text'}" >{{val.rank}}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--Show Trips of Users-->
    <div class="dashBoardTable" ng-show="showTripsTable">
        <h3>Trips::</h3>
        <table ng-table="tripTableParams" class="table table-bordered" show-filter="true">
            <tbody>
            <tr ng-repeat="val in $data" ng-click="getGeoData(val)">
                <td data-title="'TripId'" sortable="'id'" filter="{id: 'text'}" >{{val.id}}</td>
                <td data-title="'Distance'" sortable="'distance'" filter="{distance: 'text'}" >{{val.distance}}</td>
                <td data-title="'Duration'" sortable="'duration'" >{{val.duration}}M</td>
                <td data-title="'Date'" ng-bind="getDate(val.start_time)"></td>
                <td data-title="'StartTime'" ng-bind="getTime(val.start_time)"></td>
                <td data-title="'EndTime'" ng-bind="getTime(val.end_time)"></td>
                <td data-title="'Score'" sortable="'score'" filter="{score: 'text'}" >{{val.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Show Events based on Users-> Trips -->
    <div class="dashBoardTable" ng-show="showEventData">
        <h3>Events::</h3>

        <!--Date Selector for filtering-->
        <div class="col-lg-12">
            <div class="input-group col-lg-4 pull-left" style="width:230px;border: 1px solid black; margin-right: 5px">

                <input type="text"  class="form-control" placeholder="Start Date" uib-datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>

        <div class="input-group col-lg-4 pull-left" style="width:230px;border: 1px solid black; margin-right: 5px">

          <input type="text"  class="form-control" placeholder="End Date" uib-datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
       <div class="col-lg-2">
      <button class="btn btn-primary" ng-click="submitDate(startDate,endDate)">submit</button>
       </div>
    </div>

        <!--Event Data Table-->
        <table  ng-table="eventTableParams" class="table table-bordered" show-filter="true">
            <tbody>
            <tr ng-repeat="val in $data" >
                <td data-title="'EventId'" sortable="'id'" >{{val.id}}</td>
                <td data-title="'EventType'" sortable="'event_type'" filter="{event_type: 'text'}">{{val.event_type}}</td>
                <td data-title="'Date'" ng-bind="getDate(val.event_ts_local)"></td>
                <td data-title="'StartTime'" ng-bind="getTime(val.event_ts_local)"></td>
                <td data-title="'EndTime'" ng-bind="getTime(val.event_ts_local)"></td>
                <td data-title="'Speed'" sortable="'speed'" >{{val.speed}}</td>
            </tr>
            </tbody>
        </table>


    </div>


<!--loader message-->
<div id="veil" ng-show="isLoading"></div>
<div id="feedLoading" ng-show="isLoading">Loading...</div>

    <!--Google Map-->
    <script type="text/ng-template" id="gMap.html">

        <h1>Map</h1>
        <div id="map" style="width:100%; height:480px"></div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>