
<div>
<h1>Details</h1>
    <div>
        start time:: <input type="date" ng-model="startDate" required>
        end time:: <input type="date" ng-model="endDate" required>
        <button ng-click="submitDate(startDate,endDate)">submit</button>
    </div>
    <br>
<div class="dashBoardTable">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Distance</th>
            <th>Duration</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="val in data" ng-click="getGeoData(val)">
            <td>{{val.distance}}</td>
            <td>{{val.duration}}</td>
            <td ng-bind="getDate(val.start_time)"></td>
            <td  ng-bind="getDate(val.end_time)"></td>
            <td>{{val.score}}</td>
        </tr>
        </tbody>
    </table>


</div>


    <script type="text/ng-template" id="gMap.html">

        <h1>Map</h1>
        <div id="map" style="width:100%; height:800px"></div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>
<script>
    /* var map;
     function initMap() {
     map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: -34.397, lng: 150.644},
     zoom: 8
     });
     console.log('map',map);
     }*/
    /*function initMap() {
        console.log('elem---',document.getElementById("map"));
        var myLatlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
            zoom: 8,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
    }*/
</script><!--
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIqXbRkI0ZouH8f1A9lGTxQxviDm5surs&callback=initMap"
        type="text/javascript"></script>-->